#header {
  background: #151A20;

  .navbar-nav {
    align-items: center;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    color: rgba(134, 134, 134, 1);
    transition: color 0.2s;

    &:hover {
      color: $red-color-darker;
    }
  }

  .search-container {
    width: 220px;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
      width: 160px;
    }

    .input-submit {
      transition: color 0.2s;

      &:hover {
        color: $red-color-darker;
      }
    }

    .search-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 10px;
      width: 73px;
      height: 37px;
      background: #4A4A4A;
      border-radius: 0px 8px 8px 0px;
      cursor: pointer;

      &:hover {
        color: $red-color-darker;
      }
    }
  }


  // .dropdown-toggle::after {
  //   display: none;
  // }

  .all {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 9px;
    left: 10px;

    @media screen and (max-width: 1024px) {
      left: 3px;
    }

    @media screen and (max-width: 768px) {
      left: 11px;
      top: 15px;
    }

    @media screen and (max-width: 576px) {
      left: 11px;
      top: 15px;
    }
  }

  // .bar1,
  // .bar2,
  // .bar3 {
  //   width: 35px;
  //   height: 5px;
  //   background-color: #fff;
  //   margin: 6px 0;
  //   transition: 0.4s;
  //   border-radius: 9px;
  // }
  .btn {
    font-size: 19px;
    background-color: transparent;
    padding: 0px;
    border-radius: 9px;
    border: transparent;
    color: rgba(134, 134, 134, 1);
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

}

.dropdown-menu.show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;

  @media screen and (max-width: 1024px) {
    position: absolute !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: -240px;
  }

  @media screen and (max-width: 768px) {
    position: absolute !important;
    grid-template-columns: 1fr 1fr 1fr;
    left: -170px;
  }

  @media screen and (max-width: 576px) {
    position: absolute !important;
    grid-template-columns: 1fr 1fr;
    left: -100px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: rgba(38, 38, 38, 1);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  @media screen and (max-width: 1024px) {
    position: absolute !important;
  }

  @media screen and (max-width: 768px) {
    position: absolute !important;
  }

  @media screen and (max-width: 576px) {
    position: absolute !important;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(134, 134, 134);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    @media screen and (max-width: 1024px) {
      background-color: rgb(0 0 0 / 71%);
    }

    @media screen and (max-width: 768px) {
      background-color: rgb(0 0 0 / 71%);
    }

    @media screen and (max-width: 576px) {
      background-color: rgb(0 0 0 / 71%);
    }

    &.nuxt-link-exact-active,
    &:hover {
      color: white;
      // background-color: #fff;
    }
  }
}
