.list-container {
  .list-title {
    font-size: 36px;
    color: #fff !important;
  }

  .movie-list-container {
    min-height: 368px;

    .single-movie-block {
      margin-bottom: 15px;
    }
  }

  .movie-not-found {
    min-height: 368px;
  }
}

.paginaion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;

  .pagination-btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    height: 36px;
    width: 36px;
    width: 82px;
    height: 35px;
    margin-right: 10px;
    border-radius: 6px;
    background: rgba(210, 201, 255, 0.1);
    transition: 0.5s ease;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    &.prev,
    &.next {
      font-size: 18px;
    }

    &.first,
    &.last {
      width: auto;
      padding: 5px 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: #fff;
      cursor: default;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
    }

    &:hover {
      color: #fff;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
    }
  }
}
