.single-movie-block {
  display: block;
  position: relative;

  .poster-container {
    // margin-bottom: 10px;
    position: relative;

    .poster {
      height: 200px;
      width: 100%;
      border-radius: 15px 15px 15px 15px;
      border: 1px solid black;
      /* box-shadow: #464646 2px 2px 9px; */
      // -o-object-fit: cover;
      object-fit: cover;
    }

    .rating {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border: 1px solid rgba(255, 0, 0, 1);
      border-radius: 50%;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.4px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .poster-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #000000 82.81%);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      .poster-play {
        width: 48px;
        height: 48px;
        color: red;
        background: black;
        border-radius: 50px;
      }
    }

    &:hover {
      .poster-overlay {
        opacity: 1;
        color: white;
      }
    }
  }

  .title {
    font-size: 15px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    width: 100%;
    position: relative;
    z-index: 5;
    // bottom: 0;
    padding-left: 10px;
    color: white;
  }

  .resolution {
    background-color: red !important;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0px 0px 0px 10px;
    font-weight: 700;
    padding: 6px;
  }

  .resolution-2 {
    background-color: red !important;
    font-size: 14px;
    color: #fff !important;
    border-radius: 0px 0px 10px 0px;
    font-weight: 700;
    padding: 6px;
  }

  .sound {
    font-size: 14px;
    text-align: center;
  }

  .view {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;

    .view-icon {
      margin-right: 5px;
      color: $red-color-darker;
      width: 16px;
      height: 16px;
    }
  }
}


.des {
  font-size: 12px;
  line-height: 30px;
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
  position: relative;
  z-index: 5;
  /* top: 45%; */
  left: 0;
  padding: 10px;
  color: white;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}



.single-movie-block-cate {
  display: block;
  position: relative;

  .poster-container {
    // margin-bottom: 10px;
    position: relative;

    .poster {
      height: 500px;
      width: 80%;
      border-radius: 15px 15px 15px 15px;
      border: 1px solid black;
      /* box-shadow: #464646 2px 2px 9px; */
      -o-object-fit: cover;
      object-fit: cover;

      @media screen and (max-width: 1200px) {
        height: 480px;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        height: 450px;
        width: 100%;
      }

      @media screen and (max-width: 576px) {
        margin-top: 30px;
        height: 400px;
        width: 100%;
      }
    }

    .rating {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border: 1px solid rgba(255, 0, 0, 1);
      border-radius: 50%;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.4px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .poster-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #000000 82.81%);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      .poster-play {
        width: 48px;
        height: 48px;
        color: red;
        background: black;
        border-radius: 50px;
      }
    }

    &:hover {
      .poster-overlay {
        opacity: 1;
        color: white;
      }
    }
  }

  .cate {
    font-weight: 400;
    font-size: 30px;
    padding-right: 10px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 2.5;
    }
  }

  .title {
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    width: 100%;
    position: relative;
    z-index: 5;
    // bottom: 0;
    padding-left: 6px;
    color: white;
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
    &:hover {
      color: #f5c518;
    }
  }



  .resolution {
    // background-color: red !important;
    font-size: 20px;
    color: #fff !important;
    border-radius: 0px 0px 0px 10px;
    padding: 6px;
    @media screen and (max-width: 576px) {
      font-size: 13px;
    }
  }

  .resolution-2 {
    // background-color: red !important;
    font-size: 20px;
    color: #fff !important;
    border-radius: 0px 0px 10px 0px;
    padding: 6px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }

  .sound {
    font-size: 20px;
    // text-align: center;
    padding: 6px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }

  .view {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;

    .view-icon {
      margin-right: 5px;
      color: $red-color-darker;
      width: 16px;
      height: 16px;
    }
  }

  .head-des {
    font-weight: 400;
    font-size: 30px;
    color: #ffc30d;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }

  .head-des-small {
    font-weight: 400;
    font-size: 25px;
    color: #ffc30d;
    @media screen and (max-width: 576px) {
      font-size: 17px;

    }
  }

  .dis-between {
    width: max-content;
    display: flex;
    @media screen and (max-width: 576px) {
      width: 100%;
      justify-content: center;

    }
    .play-button {
      cursor: pointer;
      font-weight: 600;
      font-size: 24px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
      box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
      backdrop-filter: blur(15px);
      border-radius: 13px;
      padding: 15px 40px;
      width: max-content;
    }
  }

}
